body {
	background: blue;
	font-family: ModeSeven;
	color: white;
	overflow-x: hidden;
}

@font-face {
	font-family: ModeSeven;
	src: url(assets/ModeSeven.ttf);
}

@media (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.5) {
	.content {
		position: absolute;
		top: 3em;
		bottom: 10px;
		width: 100%;
		display: grid;
		grid-template-columns: 55% 1fr;
		left: 0;
		right: 0;
	}
}

@media (orientation: portrait) or (-webkit-min-device-pixel-ratio: 2) {
	.content {
		position: absolute;
		top: 3em;
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		left: 0;
		right: 0;
	}
	.right {
		max-height: 12em;
	}
}

.title {
	text-align: center;
}

.left {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.right {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	flex-direction: column;
	overflow-y: hidden;
}

.right-item {
	height: 30%;
	width: 95%;
	background: none;
	color: white;
	font-size: 3em;
	border: 3px solid;
	font-family: ModeSeven;
	box-sizing: border-box;
}

.right-subitem {
	height: 100%;
	width: 100%;
	background: none;
	color: white;
	font-size: 1em;
	font-family: ModeSeven;
	resize: none;
	border: none;
}

.behind {
	position: relative;
	top: -100%;
	color: grey;
	z-index: -10;
}

.left::-webkit-scrollbar {
	display: none;
}

.item {
	font-size: 1.5em;
	text-align: left;
	border: 1px solid;
	margin: 4px;
	padding: 2px;
}

.item-clickable {
	cursor: pointer;
}

.ui-hidden-accessible {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.warn {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: red;
	z-index: 1000;
	color: white;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	border: 5px solid;
}
