{% extends "base.html" %}

{% block javascript %}
	{% include "shared.js" %}
	{% include "add.js" %}
{% endblock %}

{% block warn %}
<div class="warn" id="unique_violation" style="display:none;">That name is already in use, try again</div>
<div class="warn" id="not_found" style="display:none;">Not Found in database, press UP to add Name</div>
{% endblock %}

{% block item %}
	{% for item in pantry_items %}
		<div class="item" item_id="{{ item.id }}">{{ item.name }} - {{ item.purchase_date.strftime('%m-%d-%y %H:%M:%S') }}</div>
	{% endfor %}
{% endblock %}

{% block title %}Scanny New Items{% endblock %}
{% block right %}
<input type="text" class="ui-hidden-accessible" id="code_input">
<div class="right-item">
    <textarea class="right-subitem" id="name" placeholder='Name...' autoComplete='off'></textarea>
    <textarea class="right-subitem behind" id="name_complete" autoComplete="off" disabled></textarea>
</div>
<button class="right-item" id="submit" type="button">SUBMIT</button>
<button class="right-item" type="button" onclick="document.location='/'">&#62; HOME</button>
{% endblock %}
